---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="betacode Academy.">
  <Header />
  <div class="container mx-auto">
    <h1 class="text-4xl font-bold text-center my-8">
      Welcome to betacode Academy
    </h1>
    <p class="text-center text-lg">
      We are a team of developers, designers, and creators who are passionate
      about teaching and learning. We believe that everyone should have access
      to high-quality education, regardless of their background or experience.
      Our mission is to provide affordable, accessible, and engaging courses
      that empower people to achieve their goals and build successful careers in
      tech.
    </p>
    <div class="lg:flex lg:justify-center lg:items-center lg:gap-8 mt-5 mb-5">
      <Card
        title="Welcome to betacode Academy"
        body="We are a team of developers, designers, and creators who are passionate about teaching and learning. We believe that everyone should have access to high-quality education, regardless of their background or experience. Our mission is to provide affordable, accessible, and engaging courses that empower people to achieve their goals and build successful careers in tech."
      />
      <Card
        title="Welcome to betacode Academy"
        body="We are a team of developers, designers, and creators who are passionate about teaching and learning. We believe that everyone should have access to high-quality education, regardless of their background or experience. Our mission is to provide affordable, accessible, and engaging courses that empower people to achieve their goals and build successful careers in tech."
      />
      <Card
        title="Welcome to betacode Academy"
        body="We are a team of developers, designers, and creators who are passionate about teaching and learning. We believe that everyone should have access to high-quality education, regardless of their background or experience. Our mission is to provide affordable, accessible, and engaging courses that empower people to achieve their goals and build successful careers in tech."
      />
    </div>
  </div>
</Layout>
