---
import FetchApi from "../components/FetchApi.jsx";
import Layout from "../layouts/Layout.astro";
---

<Layout title="betacode Academy.">
  <div class="container mx-auto">
    <FetchApi client:load />
  </div>
</Layout>
```
