---

---

<footer class="bg-gray-600 mt-7 h-40">
  <p class="text text-cyan-50 pt-3 ml-3">
    © 2024 - <a href="https://www.betacode.cl" target="_blank"
      >BetaCode - Building the future</a>
  </p>
</footer>
